.selezioneDiametro{
    background-color: rgb(14, 143, 248);
    color: black;
    padding: 7px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

.selezionato{
    background-color: greenyellow;
    color: black;
    padding: 7px;
    margin-left: 5px;
    text-align: center;
}

.selezioneDiametro:hover{
    background-color: chartreuse;
    color: black;
    font-size: bold;
}

.button:hover{
    font-size: bold;
}

.titoloSelezioneDiametro{
    text-align: center;
    color: rgb(14, 143, 248);
    font-size: bold;
    font-size: 35px;
}

.divSelezioneDiametro{
    align-content: center;
    text-align: center;
    padding: 5px;
}

.tipologiaDiOrdinamento{
    font-size: 35px;
    text-align: center;
    align-content: center;
    color: rgb(14, 143, 248);
    padding-bottom: 5px;
}

svg{
    color: rgb(58, 118, 247);
}

svg:hover{
    color: red;
    cursor: pointer;
}